/* Navigation */
#navbar{
    flex-direction: column;
}

/* Home section */
#home{
    height: 370px;
    padding: 3px 68px;
}

#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}
/* Products section */
#products{
    flex-direction: column;
}

/* Clients section */
#clients{
    overflow: hidden;
}

/* contact-us section */
/* footer */
/* Utility classes */
.h-primary{
    font-size: 26px;
}